%h1
  = data.about.title
%p.introduction
  = data.about.intro
%ul
  - data.about.teammember.each do | person |
    %li
      %h4= person.name
      %p= person.position
      %img{ src: person.photo }

